@import url(https://fonts.googleapis.com/earlyaccess/notosansjp.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
@import url(https://fonts.googleapis.com/css?family=EB+Garamond);

body {
    font-family: 'EB Gramond', 'Noto Sans';
    font-weight: 900;
}
h1, h2, h3 {
    font-family: 'EB Gramond', 'Noto Serif';
    font-weight: 900;
    line-height: 1.5em;
}
pre {
    margin: 40px 0px 40px 0px;
}
ul {
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
}
p {
    -webkit-margin-before: 0.5em;
    -webkit-margin-after: 0.5em;
}
.remark-slide-content {
    font-size: 100px;
    line-height: 1em;
    padding: 40px;
}
.remark-slide-number {
    font-size: 30px;
    bottom: 0px;
}
.remark-code, .remark-inline-code {
    font-family: 'Ubuntu Mono';
}
.remark-code {
    font-size: 30px;
    line-height: 1.2em;
}
.footnote {
    position: absolute;
    bottom: 2em;
    left: 40px;
    font-size: 25px;
}
.size30 { font-size: 30px; line-height: 1em; }
.size40 { font-size: 40px; line-height: 1em; }
.size50 { font-size: 50px; line-height: 1em; }
.size60 { font-size: 60px; line-height: 1em; }
.size70 { font-size: 70px; line-height: 1em; }
.size80 { font-size: 80px; line-height: 1em; }
.size90 { font-size: 90px; line-height: 1em; }
.size100 { font-size: 100px; line-height: 1em; }
img[alt="enter"] {
    float: right;
    width: 200px;
    height: 200px;
}
