:root {
    --color-back: hsl(0,0%,95%);
    --color-back-sub: hsl(0,0%,90%);
    --color-image-back: hsl(240,50%,80%);
    --color-main: hsl(240,50%,60%);
    --color-text: hsl(240,50%,40%);
    --color-base: hsl(240,50%,20%);
    --color-image-back-sub: hsl(0,50%,80%);
    --color-accent: hsl(0,50%,60%);
    --color-text-sub: hsl(0,50%,40%);
}

.color-back { background: var(--color-back); }
.color-back-sub { background: var(--color-back-sub); }

.color-image-back { background: var(--color-image-back); }
.color-main { background: var(--color-main); }
.color-text { background: var(--color-text); }
.color-basic-text { background: var(--color-base); }

.color-image-back-sub { background: var(--color-image-back-sub); }
.color-accent { background: var(--color-accent); }
.color-text-sub { background: var(--color-text-sub); }

.remark-slide .remark-slide-content {
    background: var(--color-back);
    color: var(--color-base);
}
.remark-slide .remark-inline-code {
    color: var(--color-text);
}
.remark-slide-content.title > h1 {
    background: var(--color-image-back);
    color: var(--color-base);
}
.remark-slide-content:not(.title) > h1,
.remark-slide-content:not(.title) > h2,
.remark-slide-content:not(.title) > h3 {
    background: var(--color-main);
    color: var(--color-back);
}
