@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/css?family=Noto+Serif);
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);

.remark-slide {
    font-family: 'Noto Sans';
}
.remark-slide h1,
.remark-slide h2,
.remark-slide h3 {
    font-family: 'Noto Serif';
}
.remark-slide .remark-code,
.remark-slide .remark-inline-code {
    font-family: 'Ubuntu Mono';
}

.remark-slide .remark-slide-content {
    font-size: 32px;
}
.remark-slide .remark-code {
    font-size: .8em;
}
.remark-slide .remark-inline-code {
    font-size: 1em;
}
.remark-slide .remark-slide-number {
    font-size: .8em;
}
.remark-slide-content.title > h1 {
    font-size: 2em;
}
.remark-slide-content.title > h2 {
    font-size: 1.5em;
    font-weight: normal;
}
.remark-slide-content.title > h3 {
    font-size: 1em;
    font-weight: normal;
}
.remark-slide-content:not(.title) > h1 {
    font-size: 2em;
}
.remark-slide-content:not(.title) > h2 {
    font-size: 1.6em;
}
.remark-slide-content:not(.title) > h3 {
    font-size: 1em;
}
