@import "css/page16-9.css";
@import "css/common.css";
@import "css/default.css";
@import "css/title.css";
@import "css/blockquote.css";
@import "question.css";

.remark-slide-content .oneline {
    margin: .5em 0em;
}
.remark-slide-content .oneline > p {
    margin: 0em;
}

.remark-slide-content .double-column {
    column-count: 2;
    margin: .5em 0em;
}
.remark-slide-content .double-column > ul {
    margin: 0em;
}

.remark-slide-content .less-margin > p,
.remark-slide-content .less-margin > pre {
    margin: .25em 0em;
}

.remark-slide-content ruby > rt {
    font-weight: normal;
    font-size: .6em;
}
.remark-slide-content ruby {
    font-weight: bold;
}

.remark-slide-content img[alt="enter"] {
    width: 200px;
    height: 200px;
    float: right;
}
