
.remark-slide .remark-slide-content {
    padding: 1em 2em;
}
.remark-slide .remark-slide-number {
    padding: .5em;
    right: 0em;
    bottom: 0em;
}
.remark-slide-content.title > h1 {
    padding: .25em .5em;
    margin: 1em -1em;
}
.remark-slide-content.title > h2 {
    margin: 1em 0em;
}
.remark-slide-content.title > h3 {
    margin: 1em 0em;
}
.remark-slide-content:not(.title) > h1 {
    padding: .13em 0em 0em .4em;
    margin: -.5em -1em .2em -1em;
}
.remark-slide-content:not(.title) > h2 {
    padding: .5em 0em 0em .5em;
    margin: -.625em -1.25em .25em -1.25em;
}
.remark-slide-content:not(.title) > h3 {
    padding: 1.6em .5em 0em .8em;
    margin: -1em -2em .2em -2em;
}
.remark-slide-content ol, ul {
    padding-left: 1em;
}
.remark-slide-content p, ol, ul {
    margin: .5em 0em;
}
.remark-slide-content em, strong {
    color: var(--color-accent);
}

.float-left {
    float: left;
    display: flex;
}
.float-right {
    float: right;
    display: flex;
}
.small {
    font-size: .8em;
}
.tiny {
    font-size: .6em;
}
.expand img {
    width: 100%;
}
.img-block img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.h300 img {
    height: 300px;
    width: auto;
}
.h150 img {
    height: 150px;
    width: auto;
}
.theorem {
    border: solid thick var(--color-image-back);
    margin: .5em 0em;
}
.theorem > p:first-child {
    background: var(--color-image-back);
    margin: 0em;
    padding: 0em .5em;
}
.theorem > p:not(:first-child) {
    margin: .5em;
}
.theorem > :not(p) {
    margin: .5em;
}
.paren-enum > ol {
    padding-left: 0em;
}
.paren-enum > ol > li {
    display: flex;
    counter-increment: cnt;
    margin: .5em 0em;
}
.paren-enum > ol > li:before {
    content: "(" counter(cnt) ")";
    padding-right: .25em;
}
.paren-enum > ol > li > p {
    margin: 0em;
}
.bracket-enum > ol {
    padding-left: 0em;
}
.bracket-enum > ol > li {
    display: flex;
    counter-increment: cnt;
    margin: .5em 0em;
}
.bracket-enum > ol > li:before {
    content: "[" counter(cnt) "]";
    padding-right: .25em;
}
.bracket-enum > ol > li > p {
    margin: 0em;
}
.remark-slide-content.empty {
    background: white;
}
.remark-slide-content.empty * {
    display: none;
}
